$primaryColor: #f16d7f;
$white: #fff;
$darkBGColor: #222;
$breadcrumbsColor: #636363;
$filterTextColor: #6f6e6e;
$DarkGray: #575757;
$borderGray: #a4a4a4;
$placeholderTextColor: #b1b1b1;
$backgroundSlider: #f7f7f7;
$borderColorGray: #eaeaea;
